
.app {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: 'flex';
  flex-direction: column;
}
.content {
  display: flex;
  height: 80vh;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 4rem;
}
.appFooter {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  background-color: #767676;
}
