.body {
  background: url(./assets/floral-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.app {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: 'flex';
  flex-direction: column;
}
.content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  padding: 4rem;
}
.leftContent {
  text-align: left;
  width: 50%;
}
.rightContent {
  text-align: right;
  width: 50%;
}
.appFooter {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  background-color: #767676;
  padding: 1rem;
}
